body{
    background-color: #dae4af;
}

.container{
    width: 300px;    
    background-color: rgb(132, 160, 173);
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #4d2f32;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 360px;
    background-color: #F4F9FF;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    
    /*height:40%;*/
}

.humidity-value{
    width: 300px;
    text-align: center;
    font-size: 2em;
    /*height:40%;*/
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}

.temperature-value{
    width: 300px;
    
    /*height:40%;*/
}

.humidity-value{
    width: 300px;
    text-align: center;
    font-size: 2em;
    /*height:40%;*/
}

.temperature-value-forecast{
    width: 300px;
    
    /*height:40%;*/
}


.temperature-value-forecast p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}

.temperature-value-forecast p:hover{
    
}

.humidity-value-forecast{
    width: 300px;
    text-align: center;
    font-size: 2em;
    /*height:40%;*/
}

.temperature-value-forecast span{
    color: #293251;
    font-size: 0.5em;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}
.temperature-description-forecast{
    
}

.temperature-description-forecast p{
    padding: 8px;
    margin: 0;
    color: #17308b;
    text-align: center;
    font-size: 1.2em;
}

.location{
    
}

.location p{
    margin: 0;
    padding: 0;
    color: #afbef7;
    text-align: center;
    font-size: 0.8em;
}
.spacer{
	height:30px;
}
.btn{
	padding-left: 10px;
    background-color: rgb(135, 180, 197);
    box-shadow: #6b9899;
}

.hide{
    display: none;
}

